
/AdminGame/AdminGame/bin
/AdminGame/AdminGame/obj
/GameDots/GameDots/obj
/GameDots/GameDots/bin
/ServerGame/ServerGame/bin
/ServerGame/ServerGame/obj
/AdminGame/Backup
/AdminGame/_UpgradeReport_Files
/AdminGame/UpgradeLog.XML